body {

    margin: auto;
    background-color: #ddd ;
    width: 960px;
    padding: 0;
    background: url(./assets/fundo.gif) repeat-x;
    overflow-y: scroll;

    }

.fixfloat {
    clear: both;
}
#social {
    float: right;
    margin-top: 30px;
}
#social img {
    width: 32px;
    height: 32px;
}

#cab img{
float: left;
}

#menu {
    float: left;
    margin-top: 93px;
    width: 453px;
}
#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom,  #DDD, #666);
}
#menu li{
    height: 57px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 150px;
    border-right: 1px solid #062;
}

#menu ul li a {
     text-decoration: none;
     font-size: 20px;
     color: #fff;
}

#banner img {
     width:960px;
}
#banner {
    margin-top: 15px;
}
#lateral {
    float: right;
    background: #DDD;
    width: 190px;
    padding: 5px;
    border-radius: 10px;
}
#lateral h1 {
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid #000;
    margin-top: 5px;
}
#lateral h2 { 
    font-size: 15px;
}
#lateral p {
    text-align: justify;
}

#main {
    background: #EEE;
    width: 730px;
    border-radius: 10px;
    padding: 5px;
}

#main h1 {
    font-size: 20pt;
    border-bottom: 1px solid #000;
}

#main h2 {
    font-size: 15px;
}

#main p {
    text-align: justify;
}

footer {
    color: #888;
    border: 1px solid #000;

   
}
footer p{
    display: inline-block;
    width: 316px;
    text-align: center;
}
details {
    margin-top: 30px;
    cursor: pointer;
}
details p {
    font-size: 20px;
}
summary {
    height: 30px;
    background: linear-gradient(to bottom, #EEE, #999);
    font: 12pt Arial;
    font-weight: bold;
    padding: 10px 0px 0px 10px;
}
details[open] summary {
    color: #fff;
    background: linear-gradient(to bottom, #E00, #900);

}
details[open] {
    background: #EEE;
}

#contato label {
    font-size: 15pt;
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: #888;
    display: block;
    margin-top: 20px;
}

#contato input[type="Submit"], #contato input[type="Reset"] {
    border: 0px;
    width: 120px;
    height: 50px;    
    color: #fff;
    background: #060;
    border-radius: 10px;
    cursor: pointer;
}

